/* ON PAGE */
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family : Encode Sans Semi Condensed;
}

body {
    font-family : Encode Sans Semi Condensed;
    text-align: center;
    margin: auto;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family : Encode Sans Semi Condensed;
} */

/* MAIN */
main * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family : Encode Sans Semi Condensed;
    text-align: center;
    box-sizing: border-box;
}

hr {
    width: 50rem;
}

h1 {
    display: block;
    margin: 0 auto;
    font-size: 3.2rem;
    text-align: left;
    max-width: 139.2rem;
}

#errors {
    color: coral;
}

#game-container {
    /* border-radius: 21px; */
    margin: 0 auto;
    max-width: 139.2rem;
    border: 0.1rem dotted red;
    display: flex;
}

#display-container {
    display: flex;
    /* position: relative; */
    width: 128rem;
    height: 60rem;
    margin: 0 auto;
}


#wrapper-board {
    /* border: 5px solid blue; */
}

#board-container {
    width: 30%;
    /* border: 5px solid red; */
}

#board {
    display: flex;
    
    width: 43.4rem;
    height: 45.4rem;
    
    border-radius: 2.1rem;
    margin: 0 auto;
    flex-wrap: wrap;
    
    position: relative;
    top: 1rem;
    z-index: 2;
}

.box {
    background : #2F2F2F;
    border-radius : 2.4rem;
    -moz-border-radius : 2.4rem;
    -webkit-border-radius : 2.4rem;
    box-shadow: 0px 0.8rem #ffffff, 0px 0.7rem 1rem  rgba(0, 0, 0, 0.24);
}

#controls-container {
    margin: 1.5rem 0;
    position: relative;
    top: 1rem;
    z-index: 2;
}

#buttons-container {
    margin: 1rem 0;
    text-align: left;
}

#wrapper-image {
    width: 100%;
    height: 100%;
    
    /* display: flex;
    align-items: center;
    justify-content: center; */

    position: relative;

    /* align-self: flex-end; */

    top: 0;
    right: 0;
    z-index: 1;
}

#bg-image {
    width: 100%;
    height: 100%;
    border-radius: 2.1rem;
    object-fit: cover;
}

.btn {
    background : #C9C9C9;
    border-radius : 4rem;
  
    margin-top: 1rem;
    margin-right: 2rem;
  
    box-shadow: 0px 10px #ffffff;
    box-shadow: 0px 7px 10px  rgba(0, 0, 0, 0.24);
  
    font-size: 1.6rem;
    font-weight: bold;
  
    padding: 1.2rem 2rem;
}

.btn:hover {
    color: white;
    background : #6EA96E;
}

#htp-button {

}

#new-game-button {

}

/* 


IN GAME


*/

.tile {
    width: 4.8rem;
    height: 4.8rem;
    border: 0.1rem solid lightgray;

    color: white;

    /* Text */
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 43.2rem;
    height: 5rem;

    color: white;

    /* background-color: yellow; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 4.4rem;
    height: 4.4rem;
    border: 0.1rem solid black;
    margin: 0.2rem;

    /* Text */
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    background : #2F2F2F;
    box-shadow: 0px 1rem #ffffff;
    box-shadow: 0px 0.7rem 1rem  rgba(0, 0, 0, 0.24);
}

.number:first-child {
    border-radius: 2.1rem 0 0 2.1rem;
}

.number:last-child {
    border-radius: 0 2.1rem 2.1rem 0;
}

.number-selected {
    background-color: white;
    color: #cb4a3e;
}

.tile-start {
    background-color: #cb4a3e;
    color: white;
}

.tile-lu {
    border-radius: 2.1rem 0 0 0;
}

.tile-ru {
    border-radius: 0 2.1rem 0 0;
}

.tile-rd {
    border-radius: 0 0 2.1rem 0;
}

.tile-ld {
    border-radius: 0 0 0 2.1rem;
}

.horizontal-line {
    border-bottom: 0.2rem solid red;
}

.vertical-line {
    border-right: 0.2rem solid red;
}

.letter {
    font-size: 2.1rem;
    font-weight: 800;
    font-weight: 800;
}