body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#errors {
    color: coral;
}

#game-container {
    /* border-radius: 21px; */
    border-radius: 21px;
    border-right: 1px solid greenyellow;
}

#board {
    width: 454px;
    height: 454px;
    
    border-radius: 21px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    color: white;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;

    color: white;

    /* background-color: yellow; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    background : #2F2F2F;
    box-shadow: 0px 10px #ffffff;
    box-shadow: 0px 7px 10px  rgba(0, 0, 0, 0.24);
}

.number:first-child {
    border-radius: 21px 0 0 21px;
}

.number:last-child {
    border-radius: 0 21px 21px 0;
}

.number-selected {
    background-color: white;
    color: #cb4a3e;
}

.tile-start {
    background-color: #cb4a3e;
    color: white;
}

.tile-lu {
    border-radius: 21px 0 0 0;
}

.tile-ru {
    border-radius: 0 21px 0 0;
}

.tile-rd {
    border-radius: 0 0 21px 0;
}

.tile-ld {
    border-radius: 0 0 0 21px;
}

.horizontal-line {
    border-bottom: 3px solid red;
}

.vertical-line {
    border-right: 3px solid red;
}

.letter {
    font-size: 21px;
    font-weight: 800;
    font-weight: 800;
}