* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #8c52ff;
}

.container {
  font-size: 16px;
  background-color: #ffffff;
  width: 90vw;
  /* max-width: 34em; */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 0.6em;
  box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
}

#options-container {
  text-align: center;
}

#options-container div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.2em 0 2.4em 0;
}

#options-container button {
  padding: 0.6em 1.2em;
  border: 3px solid #000000;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.3em;
  text-transform: capitalize;
  cursor: pointer;
}

#options-container button:disabled {
  border: 3px solid #808080;
  color: #808080;
  background-color: #efefef;
}

#options-container button.active {
  background-color: #8c52ff;
  border: 3px solid #000000;
  color: #fff;
}

.letter-container {
  max-width: 325px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */

  background : #2F2F2F;
  border-radius : 24px;
  -moz-border-radius : 24px;
  -webkit-border-radius : 24px;
  box-shadow: 0px 10px #ffffff;
  box-shadow: 0px 7px 10px  rgba(0, 0, 0, 0.24);
}

/* Letters */
#letter-container button {
  height: 2.1em;
  width: 2.1em;
  margin: 1px;
  /* flex-basis: calc(100% / 9 - 20px); */
  /* border-radius: 50%; */
  /* background-color: #AFA5A4; */
  cursor: pointer;

  /*font*/
  color:#C9C9C9;
  font-size: 21px;
  font-weight: bold;

  background : #2F2F2F;
  /* border-radius : 21px; */
  /* -moz-border-radius : 21px;
  -webkit-border-radius : 21px; */
  box-shadow: 0px 10px #ffffff;
  box-shadow: 0px 7px 10px  rgba(0, 0, 0, 0.24);
}

.letter-first {
  border-radius : 21px 0 0 0;
}

.letter-middle {
  border-radius : 0 21px 0 0;
}

.letter-last {
  border-radius : 0 0 0 21px;
}

.confirm-btn {
  background : #cb4a3e;
  color: white;
}

.new-game-popup {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.6em;
}

#user-input-section {
  position: relative;
  top: 0;
  left: -300px;
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  margin: 0.6em 0 1.2em 0;
}

.dashes {
  margin: 0 3px;
}

#result-text {
  text-align: center;
  margin: 20px;
  font-weight: 600;
}

canvas {
  display: block;
  margin: auto;
  border: 10px solid #8c52ff;
  border-radius: 10px;
}

.hide {
  display: none;
}

#new-game-button {
  font-size: 1.25em;
  padding: 0.5em 1em;
  background-color: #8c52ff;
  border: 3px solid #000000;
  color: #fff;
  border-radius: 0.2em;
  cursor: pointer;
}

.win-msg {
  color: #39d78d;
}

.lose-msg {
  color: #fe5152;
}

#image-status {
  width: 100%;
  margin: auto;
  border: 10px solid #000000;
  border-radius: 10px;
}

#game-container {
  display: flex;
  justify-content: space-around;
}

#widget-container {
  width: 50%;
}

#widget-content {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 100%;
}

#image-container {
  width: 50%;
}

#no-hints-display {
  color: red;
  font-weight: bold;
}

#intents-display {
  font-weight: 600;
}