/* MAIN */
main, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family : Encode Sans Semi Condensed;
  text-align: center;
}

h1 {
  display: block;
  margin: 0 auto;
  font-size: 5rem;
  font-weight: 600;
  text-align: left;
  max-width: 139.2rem;
}

.container {
  max-width: 139.2rem;
  margin: 0 auto;
}

#options-container {
  display: flex;
  flex-direction: column;
  margin: 1.8rem auto 3rem auto;
}

  #buttons-container {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }

#hint-display {
  font-size: 1.8rem;
  font-weight: 300;
  width: 80%;
  margin: auto;
  text-align: left;
}

#no-hints-display {
  color: #fe5152;
  font-size: 1.5rem;
  font-weight: 700;
}

.letter-container {
  max-width: 33.6rem;
  min-width: 33.6rem;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */

  background : #2F2F2F;
  border-radius : 2.4rem;
  -moz-border-radius : 2.4rem;
  -webkit-border-radius : 2.4rem;
  box-shadow: 0px 0.8rem #ffffff, 0px 0.7rem 1rem  rgba(0, 0, 0, 0.24);
}

#hint-container {
  display: flex;
}
/* LETTERS */
#letter-container button {
  height: 4.8rem;
  width: 4.8rem;
  margin: 0;

  border-style: none;
  border-right: 0.2rem dashed #aba4a4;
  border-bottom: 0.2rem dashed #aba4a4;

  cursor: pointer;

  /*font*/
  color:#C9C9C9;
  font-size: 2.1rem;
  font-weight: bold;

  background : #2f2f2f00;
  /* box-shadow: 0px 10px #ffffff;
  box-shadow: 0px 7px 10px  rgba(0, 0, 0, 0.24); */
  
}


.letter-first {
  border-radius : 2.4rem 0 0 0;
}

.letter-middle {
  border-radius : 0 2.4rem 0 0;
}

.letter-last {
  border-radius : 0 0 0 2.4rem;
}

#letter-container .success, button:disabled {
  background-color: #fe5152;
}

#letter-container .fail, button:disabled {
  background-color: grey;
}

.box {
  background : #2F2F2F;
  border-radius : 2.4rem;
  -moz-border-radius : 2.4rem;
  -webkit-border-radius : 2.4rem;
  box-shadow: 0px 0.8rem #ffffff, 0px 0.7rem 1rem  rgba(0, 0, 0, 0.24);
}

#hint-button {
  width: 16rem;
  margin: 1.8rem auto 3rem auto;
}

#htp-button {
  max-width: 50%;
}

.btn {
    background : #C9C9C9;
    border-radius : 4rem;
    border-width: 0;
  
    margin: 0 2.4rem 0 0;
  
    box-shadow: 0px 0.8rem #ffffff, 0px 0.7rem 1rem  rgba(0, 0, 0, 0.24);
  
    font-size: 1.6rem;
    font-weight: bold;

    padding: 1rem 2rem 1.2rem 2rem;
}

.btn:hover {
    color: white;
    background : #6EA96E;
}

.confirm-btn {
  background : #cb4a3e;
}

.new-game-popup {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.6em;
}

#user-input-section {
  max-width: fit-content;
  display: flex;
  /* justify-content: space-between; */
  /* font-size: 1.8em; */
  font-size: 2.1rem;
  /* margin: 0.6em 0 1.2em 0; */
  color: white;
}

.dashes {
  /* display: block; */
  height: 4.8rem;
  width: 4.8rem;
  font-weight: 2.1rem;
  font-weight: 800;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-right: 0.2rem dashed #aba4a4;
  text-align: center;
  /* height: 2.9rem; */
}

.dashes:last-child {
  border: 0;
}

#result-text {
  text-align: center;
  margin: 2rem auto;
  font-weight: 600;
}

canvas {
  display: block;
  margin: auto;
  border: 1rem solid #8c52ff;
  border-radius: 1rem;
}

.hide {
  display: none;
}

#new-game-button {
  max-width: 50%;
}

.win-msg {
  color: #39d78d;
}

.lose-msg {
  color: #fe5152;
}

#image-status {
  width: 100%;
  margin: auto;
  /* border: 10px solid #000000; */
}

#game-container {
  display: flex;
  justify-content: space-around;
}

#widget-container {
  width: 50%;
}

#widget-content {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: start;
  width: 100%;
  height: 100%;
}

#image-container {
  width: 100%;
  margin: auto;
  position: relative;
  top: -4rem;
  z-index: -1;
}

#intents-display {
  color: #fe5152;
  font-size: 2.1rem;
  font-weight: bold;
  margin: 1.8rem auto 3rem auto;
}

#finish-message {
  font-size: 1.8rem;
  font-weight: 300;
  margin: auto;
  text-align: center;
}

#finish-message span{
  color: #fe5152;
  font-size: 2.1rem;
  font-weight: bold;
  /* margin: 1.8rem auto 3rem auto; */
}

/*

MODAL

*/

h4 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }

.modal {
    display: none; 
    position: fixed; 
    z-index: 2; /* for board*/
    padding-top: 10rem; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(47,47,47,0.88);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 30%;
    border-radius : 2.4rem;
    -moz-border-radius : 2.4rem;
    -webkit-border-radius : 2.4rem;
    box-shadow: 0px 0.8rem #ffffff, 0px 0.7rem 1rem  rgba(0, 0, 0, 0.24);
}

.modal-content p {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: left;
    margin-bottom: 3rem;
}

/*

MOBILE

*/


@media (max-width: 600px) {

  #game-container {
    flex-direction: column-reverse;
  }

  #options-container {
    margin: -1.8rem auto 3rem auto;
  }

  #widget-container {
    width: 100%;
    position: relative;
    top: -6rem;
  }
  
  #image-container{
    height: fit-content;
  }

  .letter-container {
    margin: 0 auto;
  }

  #buttons-container {
    width: 100%;
    text-align: center;
  }

  #user-input-section {
    max-width: fit-content;
    margin: 0 auto;
  }

  .dashes {
    height: 4.8rem;
    width: 2.4rem;
    font-size: 2rem;
  }

  .btn {
    margin: 0 0.5rem;
  }

  #hint-display {
    width: 50%;
  }

  #intents-display {
    margin: 1.8rem auto 1.2rem auto;
  }

}