main, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family : Encode Sans Semi Condensed;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    display: block;
    margin: 0 auto;
    font-size: 3.2rem;
    text-align: left;
    max-width: 139.2rem;
}

#game-container {
    /* border-radius: 21px; */
    margin: 0 auto;
    max-width: 139.2rem;
    border: 0.1rem dotted red;
    display: flex;
}

#container {
    display: flex;
    width: 40rem;
    height: 70rem;
    margin: 0 auto;
    position: relative;
}

#canvas {
    border: 1px solid black;
}

.hud {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 10px 10px;
    border: 2px dotted gray;
}

.hud-data {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

#buttons-container {
    margin: 10px;
    width: max-content;
    padding: 0 0 20px 0;
    text-align: center;
}

.label-hud {
    color: #ffffff;
    font-size: 21px;
    display: block;
    width: 100px;
}

#points-label {
    border-right: 2px dotted gray;
    border-bottom: 2px dotted gray;
}

#points-text {
    border-bottom: 2px dotted gray;
}

#distance-label {
    border-right: 2px dotted gray;
}

.right-hud-data {
    color: #cb4a3e;
    padding-left: 10px;
}

.button {
    background : #C9C9C9;
    border-radius : 4rem;
    border-width: 0;
  
    margin-top: 1rem;
    margin-right: 2rem;
  
    box-shadow: 0px 0.8rem #ffffff, 0px 0.7rem 1rem  rgba(0, 0, 0, 0.24);
  
    font-size: 1.6rem;
    font-weight: bold;
  
    padding: 1rem 2rem 1.2rem 2rem;
}

.button:hover {
  color: white;
  background : #6EA96E;
}

.hide {
    display: none;
}

.box {
    background : #2F2F2F;
    border-radius : 2.4rem;
    -moz-border-radius : 2.4rem;
    -webkit-border-radius : 2.4rem;
    box-shadow: 0px 0.8rem #ffffff, 0px 0.7rem 1rem  rgba(0, 0, 0, 0.24);
}